<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <h1>Trips Login Page</h1>
        <form method="POST" action="/login">
        <div class="loginInBar">
        <input type="text" placeholder="Username" name="username" />
        <input type="password" placeholder="Password" name="password" />
        <button name="loginButton">Login</button>
        </div>
        </form>


        {{message}}

    </body>

</html>