<html>
<head>
      <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Trips I've Taken</h1>
    <div class="surprise">{{message2}}

    <form name="form3" method="POST" action="/sign-out">
        <button name="signOutButton">Sign Out</button>
    </form>
    </div>

    <form name="form1" method="POST" action="/trips/create-trip">
    <div class="addTripBar">
        <input type="text" placeholder = "Title" name="title" />
        <input type="text" placeholder = "Image Url" name="imageUrl" />
        <input type="text" placeholder = "Departure Date" name="departureDate" />
        <input type="text" placeholder = "Return Date" name="returnDate" />
        <button name="addTripButton">Add Trip</button>
    </div>
    </form>

    <ul>
    {{#allTrips}} 
    <form name="form2" method="POST" action="/trips/delete-trip">
    <li>
        <input type="hidden" value={{tripId}} name="tripId" />
        <b>Place:</b> {{title}} <b>Depature Date:</b> {{departureDate}} <b>Return Date:</b> {{returnDate}} <input type="hidden" name="deleteTrip" value="{{title}}"/><button type="submit" name="deleteButton">Delete Trip</button>
        <br>
        <img name="image" src = "{{imageUrl}}" width="300px" height="200px"/>
    </li>
    </ul>
    </form>
    {{/allTrips}}
    {{^allTrips}}
        <h3>No trips taken. Time to plan a getaway!!!</h3>
     {{/allTrips}}


</body>
</html>